# Dependencias
node_modules/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Build / dist
dist/
build/
